.courses {
  background: $color-five;
  padding: 140px 0;
  //margin-top: -1px;


  &__inner-top {
    max-width: 644px;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 80px;
  }

  &__inner-top-text {
    margin-bottom: 40px;
    line-height: 33px;
  }

  &__inner-top-title {
    position: relative;
    margin-bottom: 60px;
  }

  &__inner-top-title:before {
    position: absolute;
    background: $color-second;
    content: "";
    height: 2px;
    width: 150px;
    bottom: -17px;
    left: calc(50% - 75px);
  }

  &__inner-price {
    gap: 48px;
  }

  &__box-img {
    width: 100%;
  }

  &__box {

    background: #ffffff;
    color: $color-first;
  }

  &__author {
    margin-bottom: 12px;
  }

  &__box-inner {
    padding: 25px;
  }

  &__box-price span {
    color: #B2B2BF;
    margin-right: 8px;
  }
}