:root {
  --bs-link-color: black;
}

.header .navbar-expand-lg .navbar-nav .nav-link {
  --bs-navbar-nav-link-padding-y: 16px;
  --bs-navbar-nav-link-padding-x: 16px;
}



$font-family-main: 'Source Sans Pro', sans-serif;


$font-title: 28px;
$font-xll: 55px;
$font-xl: 44px;
$font-lgg: 28px;
$font-lg: 22px;
$font-md: 18px;
$font-sm: 17px;
$font-xs: 16px;

$color-first: #1C1C33;
$color-second: #57D9A6;
$color-three: #4E4E65;
$color-four: #F6F6F8;
$color-five: #22223d;
$color-six: #F5F5F5;




