.teach {
  @media (max-width: 1400px) {
    &__img {
      margin-left: -70px;

    }
  }
  @media (max-width: 1200px) {
    &__col-content {
      padding: 70px 0;
    }

    &__img {
      width: 100%;
      margin-top: -16px;
      margin-left: 0px;
    }
  }
  @media (max-width: 992px) {
    padding: 70px 0;
    &__img {
      margin-top: 0px;
    }
    &__col-content {
      text-align: center;
      padding: 40px 0 0;
    }
    &__title:before {
      left: calc(50% - 75px);
    }
    &__title {
      margin-bottom: 30px;
    }
    &__text {
      margin-bottom: 30px;
    }

  }

}