.header {
  &__top {
    color: $color-first;
    font-size: $font-md;
    background: $color-second;
  }

  &__navigation {
    background: $color-first;

  }

  .nav-link {
    color: $color-four;
  }

  .nav-link:hover {
    color: $color-second;
    transform: scale(1.2);
  }


  &__cart {
    position: relative;
  }

  &__cart:hover svg path {
    stroke: $color-second;
  }

  &__cart:after {
    content: "";
    background: url("../assets/cart-number.svg");
    width: 18px;
    height: 18px;
    top: -5px;
    right: -5px;
    position: absolute;
  }

  .navbar-toggler {
    border: 2px solid $color-second;
  }
}